.contextContainer{
    height: auto;
    width:200px;
    background-color: white;
    box-shadow: 1px 1px 6px rgba(0,0,0,.5);
    position: fixed;
    top:0;left:0
}
.contextContainer > ul{
    padding: 0px;
    height: 100%;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    margin: 0;
}

.contextContainer > ul >li{
    width: 88%;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 6%;
    list-style: none;
    border-bottom: 1px solid #d5d5d5;
}
.contextContainer > ul >li:hover{
    cursor: pointer;
    background-color: rgb(243, 120, 120);
    color:white;
    font-weight: 700;
}