.headerContainer{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(163deg, #ee6969, #964a4a 134%);
    /* display: flex;
    flex-direction: row; */
    color:white;
    /* justify-content: flex-end;
    align-items: center; */
    position: sticky;
    top:0;
    left:0;
}
.company_name{
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 20px;
}
.app_name{
    position: absolute;
    top: 15%;
    right: 15px;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    .app_name{
        display: none;
    }
    .company_name{
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 18px;
}
}



